//---------------------------------------------------------------------------
//
// Name:        KLBTOOLSApp.rc
// Author:      KLBTech
// Created:     3/11/2021 7:09:37 AM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
